// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.warehouse-card--add {
        cursor: pointer;
}

.icon {
    display: inline-block;
    color: #333;
    font-size: 22px;
}