footer {
  min-height: 80px;
  font-size: 12px;
  background-color: $main-green;
  color: white;
}

footer img {
  width: 25px;
  height: 25px;
}

footer a {
  color: white;
  :hover {
   color: white;
   text-decoration: none;
  }
}
