// Colors

$main-green : #049f82;
$accent-green : #008F72;
$link-green : #85FFE8;

$strongest-text : #222222;
$strong-text : #353535;
$medium-text : #454545;
$subtle-text : #676767;

$subtle-background : #EEEEEE;
$lighter-background : #F7F7F7;

// Font family

$font-primary : 'Montserrat', sans-serif;

// Font Weight

$regular : 400;
$medium : 500;
$bold : 700;
