@import 'variables';
@import 'navbar';
@import 'footer';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: $font-primary;
}

a {
  color: $main-green;
}

.wow {
  visibility: hidden;
}

.pl {
  padding-left: 15px;
}

.pr {
  padding-right: 15px;
}

.primer-div{
  min-height: 100vh;
  margin-top: 80px;
  margin-bottom:40px;
}

.bg-main-green {
  background-color: $main-green
}

.subtle-background {
  background-color: $subtle-background;
}

// Notificaciones
.sticky-notification {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  color: white;
  border: none;
}

.notification-success {
  background-color: #008F72;
}

.notification-error {
  background-color: red;
}

.login-form {
  border: 1px solid grey;
}

.limpiar-busqueda {
  font-size: 10px;
}

.searchForm {
  display: -webkit-inline-box;
}

.warehouse-card {
  cursor: pointer;
}

// M Medium devices (tablets, less than 992px)
@media (max-width: 992px) {

  .searchForm {
    display: block;
  }

}